:root {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f0eded;
  color: #011b33;
  font-family: 'Carter One', cursive;
}

.header {
  padding: 1rem .5rem .5rem .5rem;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.title {
  font-size: clamp(1.25rem, 0.7885rem + 2.3077vw, 2rem);
}

.open {
  align-self: center;
  margin-right: .5rem;
  border: none;
  color:#d10f2a;
  cursor: pointer;
}

.show {
  display: none;
}

.nav_list-items {
  line-height: 2.5;
  cursor: pointer;
}

.nav_list-items:hover {
  background-color: #389aa8;
  color: #f2f2f2;
}

.main {
  flex: 1;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .open {
    display: none;
  }

  .nav {
    display: block;
    align-self: center;
  }

  .nav_list {
    display: flex;
  }

  .nav_list-items {
    padding: 0;
    margin: 0 .5rem;
  }

  .nav_list-items:hover {
    color: #d10f2a;
    background-color: transparent;
  }
}

i {
  font-size: clamp(1.5rem, 1.1250rem + 1.6667vw, 2rem);
}

.footer {
  padding: .5rem 0;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
}

.footer_list {
  display: flex;
  justify-content: center;
}

.footer_list-items {
  margin: 0 .75rem;
  cursor: pointer;
  font-size: clamp(1rem, 0.6923rem + 1.5385vw, 1.5rem);
}

.footer_list-items:hover {
  transform: scale(1.2);
}